# Docker files
Dockerfile
docker-compose.yml

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Python files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
